---
# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

defaultRules: # Line 168
  create: false

alertmanager: # Line 384
  enabled: false

grafana: # Line 1225
  enabled: true
  defaultDashbordsTimezone: America/Edmonton
  admin:
    existingSecret: "grafana-admin"
    userKey: admin-user
    passwordKey: admin-password
  ingress:
    enabled: false

kubeEtcd: # Line 2125
  enabled: false # Needs tweaks for Talos

kubeProxy:
  enabled: false # Cilium

prometheus: # Line 3369
  enabled: true
  service:
    ipDualStack:
      enabled: true
  # BETA. Does not make gateway. That's handled in objects
  route:
    main:
      enabled: true
      hostnames:
        - prometheus.k8s.notsodefault.ca
      parentRefs:
        - prometheus-gateway
