# External Secret
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin
spec:
  refreshInterval: "300s"
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password-sdk
  target:
    name: grafana-admin
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: grafana/username
    - secretKey: admin-password
      remoteRef:
        key: grafana/password

